main {
    -webkit-overflow-scrolling: touch;
    flex: auto;
    background:  #f4f4f4;
    height: 100%;
}

  
.cards {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap: 30px;
    height: 100%;
}

input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 6px;
    border-radius: 6px;
    width: 150px;
    outline: none;
    text-align: center;
}

input:focus::placeholder{
    color: transparent;
}

input::placeholder{
    color:#222;
    transition: color 0.2s ease;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }